.profileCard{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 1rem;
    box-shadow: 0 0 10px #2b2b2b50;
    width: max-content;
    min-width: 20vw;
    min-height:200px;
    padding:1rem 2rem;
    flex:1;
}

.profileCard:hover{
    box-shadow: 0 0 10px #2b2b2b;

}